.post {
    background: #eee;
    box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);
    transition: transform 100ms ease-in-out;
}

.post img {
    max-width: 100%;
}

.post:hover {
    transform: scale(1.02);
}

.post-content {
    padding: 30px;
}
